body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    text-decoration: none;
    font-size: 1em;
    outline: none;
    padding: 0;
    margin: 0;
}

a, img, a img, iframe, form, fieldset,
abbr, acronym, object, applet, table {
    border: none;
}

caption, th, td, center {
    vertical-align: top;
    text-align: left;
}

ul, ol, dir, menu {
    list-style: none;
}

#root {
    text-align: center;
}