.tint {
  background-color: #00000060;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modal {
  background: #E94B35;
  min-height: 200px;
  width: 550px;
  display: flex;
  flex-direction: column;
  align-self: center;
  color: #FFFFFF;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 25px 0 20px 25px;
  background-color: #00000015;
  font-size: 27px;
}

.body {
  padding: 20px 20px;
  font-size: 16px;
  line-height: 2;
  white-space: pre-line;
}

.footer {
  padding-bottom: 25px;
}

.close {
  margin-right: 30px;
  border: none;
  font-size: 40px;
  cursor: pointer;
  color: #FFFFFF;
  background: none;
  outline: none;
}


